Plugins>ImageJ on GPU (CLIJx)>Binary,               "Skeletonize on GPU (experimental)",                    net.haesleinhuepf.clijx.plugins.Skeletonize
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Parametric Watershed (experimental)",                  net.haesleinhuepf.clijx.plugins.ParametricWatershed
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Fill Holes slice by slice on GPU",                     net.haesleinhuepf.clijx.plugins.BinaryFillHolesSliceBySlice
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Find Maxima Plateaus (experimental)",                  net.haesleinhuepf.clijx.plugins.FindMaximaPlateaus
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Out Of Intensity Range (experimental)",                net.haesleinhuepf.clijx.plugins.OutOfIntensityRange
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Within Intensity Range (experimental)",                net.haesleinhuepf.clijx.plugins.WithinIntensityRange
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Similar (experimental)",                               net.haesleinhuepf.clijx.plugins.Similar
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Different (experimental)",                             net.haesleinhuepf.clijx.plugins.Different

Plugins>ImageJ on GPU (CLIJx)>Binary,               "Local extrema in a box on GPU (experimental)",                                                net.haesleinhuepf.clijx.plugins.LocalExtremaBox
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Find maxima on GPU (experimental)",                                                           net.haesleinhuepf.clijx.plugins.FindMaxima
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Find maxima with preview on GPU (experimental)",                                              net.haesleinhuepf.clijx.gui.FindMaximaPreview
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Seeded watershed on GPU (experimental)",                                                      net.haesleinhuepf.clijx.plugins.SeededWatershed

Plugins>ImageJ on GPU (CLIJx)>Filter,               "Subtract background in 2D image on GPU (experimental)",                                       net.haesleinhuepf.clijx.plugins.SubtractBackground2D
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Subtract background in 3D image on GPU (experimental)",                                       net.haesleinhuepf.clijx.plugins.SubtractBackground3D
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Non-local mean on GPU (experimental)",                                                        net.haesleinhuepf.clijx.plugins.NonLocalMeans
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Bilateral filter on GPU (experimental)"                                                       net.haesleinhuepf.clijx.plugins.Bilateral
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Grey level attribute filtering on GPU (experimental)",                                        net.haesleinhuepf.clijx.plugins.GreyLevelAtttributeFiltering

Plugins>ImageJ on GPU (CLIJx)>Filter,               "Subtract Gaussian Background (experimental)",                                                 net.haesleinhuepf.clijx.plugins.SubtractGaussianBackground
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Divide by Gaussian Background (experimental)",                                                net.haesleinhuepf.clijx.plugins.DivideByGaussianBackground
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Intensity correction by mean fixation (experimental)",                                        net.haesleinhuepf.clijx.plugins.IntensityCorrection
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Intensity correction by mean fixation of pixels above Otsu threshold (experimental)",         net.haesleinhuepf.clijx.plugins.IntensityCorrectionAboveThresholdOtsu

Plugins>ImageJ on GPU (CLIJx)>Filter,               "Gamma correction on GPU (experimental)",                                                      net.haesleinhuepf.clijx.plugins.GammaCorrection
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Hessian Eigenvalues 2D on GPU (experimental)",                                                net.haesleinhuepf.clijx.plugins.HessianEigenvalues2D
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Hessian Eigenvalues 3D on GPU (experimental)",                                                net.haesleinhuepf.clijx.plugins.HessianEigenvalues3D
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Laplace Sphere on GPU (experimental)",                                                        net.haesleinhuepf.clijx.plugins.LaplaceSphere
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Laplacian of Gaussian on GPU (experimental)",                                                 net.haesleinhuepf.clijx.plugins.LaplacianOfGaussian3D

Plugins>ImageJ on GPU (CLIJx)>Filter,               "Sobel slice by slice on GPU (experimental)",                                                  net.haesleinhuepf.clijx.plugins.SobelSliceBySlice
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Standard deviation box  on GPU (experimental)",                                               net.haesleinhuepf.clijx.plugins.StandardDeviationBox
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Standard deviation sphere on GPU (experimental)",                                             net.haesleinhuepf.clijx.plugins.StandardDeviationSphere
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Tenengrad on GPU (experimental)",                                                             net.haesleinhuepf.clijx.plugins.Tenengrad
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Tenengrad slice by slice on GPU (experimental)",                                              net.haesleinhuepf.clijx.plugins.TenengradSliceBySlice
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Variance Box on GPU (experimental)",                                                          net.haesleinhuepf.clijx.plugins.VarianceBox
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Variance Sphere on GPU (experimental)",                                                       net.haesleinhuepf.clijx.plugins.VarianceSphere

Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Merge touching labels on GPU (experimental)",                                                 net.haesleinhuepf.clijx.plugins.MergeTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Detect and label maxima (experimental)",                                                      net.haesleinhuepf.clijx.plugins.DetectAndLabelMaxima
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Exclude labels outside size range (experimental)",                                            net.haesleinhuepf.clijx.plugins.ExcludeLabelsOutsideSizeRange
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Extend labels with maximum radius (experimental)",                                            net.haesleinhuepf.clijx.plugins.ExtendLabelsWithMaximumRadius
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Find and label maxima (experimental)",                                                        net.haesleinhuepf.clijx.plugins.FindAndLabelMaxima
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Label surface (experimental)",                                                                net.haesleinhuepf.clijx.plugins.LabelSurface
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Reduce labels to labelled spots (experimental)",                                              net.haesleinhuepf.clijx.plugins.ReduceLabelsToLabelledSpots

Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Masked Voronoi-Labeling on GPU (experimental)",                                               net.haesleinhuepf.clijx.plugins.MaskedVoronoiLabeling
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Reduce Labels To Label Edges on GPU (experimental)",                                          net.haesleinhuepf.clijx.plugins.ReduceLabelsToLabelEdges
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Shrink Labels on GPU (experimental)",                                                         net.haesleinhuepf.clijx.plugins.ShrinkLabels
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Voronoi-Otsu-Labeling on GPU (experimental)",                                                 net.haesleinhuepf.clijx.plugins.VoronoiOtsuLabeling


Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Interactive Particle Image Velocimetry  (experimental)",                   net.haesleinhuepf.clijx.piv.InteractiveParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "-",                   null
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Particle Image Velocimetry (PIV) on GPU (experimental)",                   net.haesleinhuepf.clijx.piv.ParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Particle image velocimetry 2D+t on GPU (experimental)",                    net.haesleinhuepf.clijx.piv.ParticleImageVelocimetryTimelapse
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Fast Particle Image Velocimetry (PIV) on GPU (experimental)",              net.haesleinhuepf.clijx.piv.FastParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Visualise vector field on timelapse (experimental)",                       net.haesleinhuepf.clijx.piv.visualisation.VisualiseVectorFieldOnTimelapsePlugin
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Visualise vector field (experimental)",                                    net.haesleinhuepf.clijx.piv.visualisation.VisualiseVectorFieldPlugin

Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of average distances between label centroids (experimental)",                       net.haesleinhuepf.clijx.plugins.AverageNeighborDistanceMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Mesh of distances between centroids of touching labels(experimental)",                       net.haesleinhuepf.clijx.plugins.DrawDistanceMeshBetweenTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Mesh touching neighbors in label map (experimental)",                       net.haesleinhuepf.clijx.plugins.DrawMeshBetweenTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of touching neighbor count of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.TouchingNeighborCountMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of mean intensities of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.LabelMeanIntensityMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of standard deviation of intensities of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.LabelStandardDeviationIntensityMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of pixel count of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.LabelPixelCountMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Euclidean distance map of labelled pixels from label centroid (experimental)",                       net.haesleinhuepf.clijx.plugins.EuclideanDistanceFromLabelCentroidMap

Plugins>ImageJ on GPU (CLIJx)>Measure,             "Grey value co-occurrence count matrix in box-neighborhood (experimental)",                       net.haesleinhuepf.clijx.plugins.GenerateIntegerGreyValueCooccurrenceCountMatrixHalfBox
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Grey value co-occurrence count matrix in diamond-neighborhood (experimental)",                       net.haesleinhuepf.clijx.plugins.GenerateIntegerGreyValueCooccurrenceCountMatrixHalfDiamond
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Grey value co-occurrence probability matrix (experimental)",                       net.haesleinhuepf.clijx.plugins.GenerateGreyValueCooccurrenceMatrixBox

Plugins>ImageJ on GPU (CLIJx)>Measure,              "Label Maximum Extension Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelMaximumExtensionMap
Plugins>ImageJ on GPU (CLIJx)>Measure,              "Label Maximum Extension Ratio Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelMaximumExtensionRatioMap
Plugins>ImageJ on GPU (CLIJx)>Measure,              "Label Maximum Intensity Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelMaximumIntensityMap
Plugins>ImageJ on GPU (CLIJx)>Measure,              "Label Mean Extension Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelMeanExtensionMap
Plugins>ImageJ on GPU (CLIJx)>Measure,              "Label Mean Of Laplacian Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelMeanOfLaplacianMap
Plugins>ImageJ on GPU (CLIJx)>Measure,              "Label Minimum Intensity Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelMinimumIntensityMap
Plugins>ImageJ on GPU (CLIJx)>Measure,              "Label Overlap Count Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelOverlapCountMap

Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "GenerateNNearestNeighborsMatrix (experimental)",          net.haesleinhuepf.clijx.plugins.GenerateNNearestNeighborsMatrix
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "GenerateProximalNeighborsMatrix (experimental)",          net.haesleinhuepf.clijx.plugins.GenerateProximalNeighborsMatrix
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "-", null

Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Average Distance Of N Nearest Neighbors Map (experimental)",          net.haesleinhuepf.clijx.plugins.AverageDistanceOfNClosestNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Draw Mesh Between N Nearest Labels (experimental)",          net.haesleinhuepf.clijx.plugins.DrawMeshBetweenNClosestLabels
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Draw Mesh Between Proximal Labels (experimental)",          net.haesleinhuepf.clijx.plugins.DrawMeshBetweenProximalLabels
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Draw Touch Count Mesh Between Touching Labels (experimental)",          net.haesleinhuepf.clijx.plugins.DrawTouchCountMeshBetweenTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Draw Touch Portion Mesh Between Touching Labels (experimental)",          net.haesleinhuepf.clijx.plugins.DrawTouchPortionMeshBetweenTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Label Proximal Neighbor Count Map (experimental)",          net.haesleinhuepf.clijx.plugins.LabelProximalNeighborCountMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Neighbor Count With Touch Portion Above Threshold Map (experimental)",          net.haesleinhuepf.clijx.plugins.NeighborCountWithTouchPortionAboveThresholdMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Neighbor Distance Range Ratio Map (experimental)",                     net.haesleinhuepf.clijx.plugins.NeighborDistanceRangeRatioMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Maximum Distance Of Touching Neighbors (experimental)",          net.haesleinhuepf.clijx.plugins.MaximumDistanceOfTouchingNeighbors
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Maximum Neighbor Distance Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MaximumNeighborDistanceMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Median Touch Portion Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MedianTouchPortionMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Minimum Neighbor Distance Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MinimumNeighborDistanceMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "-", null

Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Maximum Of N Nearest Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MaximumOfNNearestNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Maximum Of Proximal Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MaximumOfProximalNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Maximum Of Touching Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MaximumOfTouchingNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Mean Of N Nearest Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MeanOfNNearestNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Mean Of Proximal Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MeanOfProximalNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Mean Of Touching Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MeanOfTouchingNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Minimum Of N Nearest Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MinimumOfNNearestNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Minimum Of Proximal Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MinimumOfProximalNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Minimum Of Touching Neighbors Map (experimental)",                     net.haesleinhuepf.clijx.plugins.MinimumOfTouchingNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Mode Of N Nearest Neighbors Map (experimental)",                       net.haesleinhuepf.clijx.plugins.ModeOfNNearestNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Mode Of Proximal Neighbors Map (experimental)",                        net.haesleinhuepf.clijx.plugins.ModeOfProximalNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Mode Of Touching Neighbors Map (experimental)",                        net.haesleinhuepf.clijx.plugins.ModeOfTouchingNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Standard Deviation Of N Nearest Neighbors Map (experimental)",         net.haesleinhuepf.clijx.plugins.StandardDeviationOfNNearestNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Standard Deviation Of Proximal Neighbors Map (experimental)",          net.haesleinhuepf.clijx.plugins.StandardDeviationOfProximalNeighborsMap
Plugins>ImageJ on GPU (CLIJx)>Measure>Neighbor graph,              "Standard Deviation Of Touching Neighbors Map (experimental)",          net.haesleinhuepf.clijx.plugins.StandardDeviationOfTouchingNeighborsMap



Plugins>ImageJ on GPU (CLIJx)>Threshold,              "Threshold after Difference of Gaussian (experimental)",               net.haesleinhuepf.clijx.plugins.ThresholdDoG
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Bernsen on GPU (experimental)",                       net.haesleinhuepf.clijx.plugins.LocalThresholdBernsen
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Contrast on GPU (experimental)",                      net.haesleinhuepf.clijx.plugins.LocalThresholdContrast
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Mean on GPU (experimental)",                          net.haesleinhuepf.clijx.plugins.LocalThresholdMean
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Median on GPU (experimental)",                        net.haesleinhuepf.clijx.plugins.LocalThresholdMedian
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Mid-Grey on GPU (experimental)",                      net.haesleinhuepf.clijx.plugins.LocalThresholdMidGrey
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Niblack on GPU (experimental)",                       net.haesleinhuepf.clijx.plugins.LocalThresholdNiblack
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Phansalkar on GPU (experimental)",                    net.haesleinhuepf.clijx.plugins.LocalThresholdPhansalkar
Plugins>ImageJ on GPU (CLIJx)>Threshold>Local,        "Local Threshold Sauvola on GPU (experimental)",                       net.haesleinhuepf.clijx.plugins.LocalThresholdSauvola

Plugins>ImageJ on GPU (CLIJx)>Transform>Register,       "Translation registration on GPU (experimental)",                       net.haesleinhuepf.clijx.registration.TranslationRegistration
Plugins>ImageJ on GPU (CLIJx)>Transform>Register,       "Translation registration of a 2D timelapse on GPU (experimental)",     net.haesleinhuepf.clijx.registration.TranslationTimelapseRegistration
Plugins>ImageJ on GPU (CLIJx)>Transform,                "Lightfield tiles to stack on GPU (experimental)",                      net.haesleinhuepf.clijx.plugins.LFRecon
Plugins>ImageJ on GPU (CLIJx)>Transform,                "Stack to tiles on GPU (experimental)",                                 net.haesleinhuepf.clijx.plugins.StackToTiles

Plugins>ImageJ on GPU (CLIJx)>Transform,          "Cylinder transform on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.CylinderTransform
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Make isotropic on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.MakeIsotropic
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Rigid transform on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.RigidTransform
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Sphere transform on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.SphereTransform
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Drift correction yb Center of Mass Fixation on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.DriftCorrectionByCenterOfMassFixation
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Drift correction yb Centroid Fixation on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.DriftCorrectionByCentroidFixation
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Affine Transform on GPU (CLIJx, experimental)",           net.haesleinhuepf.clijx.plugins.AffineTransform


Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 2 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf2
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 3 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf3
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 4 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf4
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 5 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf5
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 6 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf6
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 7 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf7
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 8 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf8
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 9 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf9
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 10 stacks on GPU (experimental)",                  net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf10
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 11 stacks on GPU (experimental)",                  net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf11
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 12 stacks on GPU (experimental)",                  net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf12

Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 2 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto2
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 3 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto3
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 4 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto4
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 5 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto5
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 6 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto6
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 7 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto7
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 8 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto8
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 9 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto9
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 10 stacks on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto10
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 11 stacks on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto11
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 12 stacks on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto12

Plugins>ImageJ on GPU (CLIJx)>Projections,             "Mean Z projection of pixels with intensity above threshold (experimental)",    net.haesleinhuepf.clijx.plugins.MeanZProjectionAboveThreshold
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Median-Z-Projection Masked (experimental)",                                    net.haesleinhuepf.clijx.plugins.MedianZProjectionMasked
Plugins>ImageJ on GPU (CLIJx)>Projections,             "-", null
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Extended Depth Of Focus Sobel Projection  on GPU (experimental)",              net.haesleinhuepf.clijx.plugins.ExtendedDepthOfFocusSobelProjection
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Extended Depth Of Focus Tenengrad Projection  on GPU (experimental)",          net.haesleinhuepf.clijx.plugins.ExtendedDepthOfFocusTenengradProjection
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Extended Depth Of Focus Variance Projection  on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.ExtendedDepthOfFocusVarianceProjection
Plugins>ImageJ on GPU (CLIJx)>Projections,             "-", null
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Z-Position Of Maximum-Z-Projection (experimental)",                            net.haesleinhuepf.clijx.plugins.ZPositionOfMaximumZProjection
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Z-Position Of Minimum-Z-Projection (experimental)",                            net.haesleinhuepf.clijx.plugins.ZPositionOfMinimumZProjection
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Z-Position Projection (experimental)",                                         net.haesleinhuepf.clijx.plugins.ZPositionProjection
Plugins>ImageJ on GPU (CLIJx)>Projections,             "Z-Position Range-Projection (experimental)",                                   net.haesleinhuepf.clijx.plugins.ZPositionRangeProjection


Plugins>ImageJ on GPU (CLIJx)>Image calculation,        "Presign on GPU (experimental)",                                              net.haesleinhuepf.clijx.plugins.Presign

Plugins>ImageJ on GPU (CLIJx),                          "Panel (experimental)",                                                       net.haesleinhuepf.clijx.gui.panel.CLIJxPanel
Plugins>ImageJ on GPU (CLIJx),                          "GPU Memory Display (experimental)",                                          net.haesleinhuepf.clijx.gui.MemoryDisplay
Plugins>ImageJ on GPU (CLIJx),                          "Change OpenCL device (experimental)",                                    net.haesleinhuepf.clijx.gui.ChangeDefaultCLDevice

Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky denoise (experimental)",                                              net.haesleinhuepf.clijx.gui.stickyfilters.implementations.Denoise
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky heavy blur (experimental)",                                           net.haesleinhuepf.clijx.gui.stickyfilters.implementations.HeavyBlur
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky medium blur (experimental)",                                          net.haesleinhuepf.clijx.gui.stickyfilters.implementations.MediumBlur
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky soft blur (experimental)",                                            net.haesleinhuepf.clijx.gui.stickyfilters.implementations.SoftBlur
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky subtract background (experimental)",                                  net.haesleinhuepf.clijx.gui.stickyfilters.implementations.BackgroundSubtraction
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky threshold Huang (experimental)",                                      net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ThresholdHuang
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky threshold Otsu (experimental)",                                       net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ThresholdOtsu
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky threshold Renyi Entropy (experimental)",                              net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ThresholdRenyiEntropy
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky binary dilation (experimental)",                                      net.haesleinhuepf.clijx.gui.stickyfilters.implementations.BinaryDilate
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky binary erosion (experimental)",                                       net.haesleinhuepf.clijx.gui.stickyfilters.implementations.BinaryErode
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky connected components labeling (experimental)",                        net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ConnectedCompontentsLabelling
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky exclude label edges (experimental)",                                  net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ExcludeLabelEdges
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky extend labels until they touch (experimental)",                       net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ExtendVoronoiLabelling
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky number of touching labels (experimental)",                            net.haesleinhuepf.clijx.gui.stickyfilters.implementations.NumberOfTouchingNeighbors

Plugins>ImageJ on GPU (CLIJx)>Timelapse operations,     "Maximum-Z-Projection frame by frame on multiple GPUs (experimental)",                     net.haesleinhuepf.clijx.framor.implementations.MaximumZProjectionFrameProcessor
Plugins>ImageJ on GPU (CLIJx)>Timelapse operations,     "Gaussian blur frame by frame on multiple GPUs (experimental)",                     net.haesleinhuepf.clijx.framor.implementations.GaussianBlurFrameProcessor
Plugins>ImageJ on GPU (CLIJx)>Timelapse operations,     "Top-Hat background subtraction frame by frame on multiple GPUs (experimental)",    net.haesleinhuepf.clijx.framor.implementations.TopHatFrameProcessor

Plugins>ImageJ on GPU (CLIJx)>Image calculation,        "Divide scalar by image on GPU (experimental)",                                              net.haesleinhuepf.clijx.plugins.DivideScalarByImage
Plugins>ImageJ on GPU (CLIJx)>Image calculation,        "Cosinus on GPU (experimental)",                                              net.haesleinhuepf.clijx.plugins.Cosinus
Plugins>ImageJ on GPU (CLIJx)>Image calculation,        "Sinus on GPU (experimental)",                                              net.haesleinhuepf.clijx.plugins.Sinus
Plugins>ImageJ on GPU (CLIJx)>Image calculation,        "Visualize Outlines On Original on GPU (experimental)",                                              net.haesleinhuepf.clijx.plugins.VisualizeOutlinesOnOriginal

Analyze,                                               "3D Objects Counter on GPU (CLIJx, Experimental)",                             net.haesleinhuepf.clijx.gui.ParticleAnalyser
Plugins>Registration,                                  "3D Image registration on GPU (CLIJx, Experimental)",                          net.haesleinhuepf.clijx.gui.ImageRegistration3D
Image>Stacks,                                          "Interactive depth color projection on GPU (CLIJx, Experimental)",                       net.haesleinhuepf.clijx.gui.InteractiveMaximumZProjection
Image>Stacks,                                          "Interactive Z projection on GPU (CLIJx, Experimental)",                       net.haesleinhuepf.clijx.gui.InteractiveSubstackMaximumZProjection
Image>Stacks,                                          "Interactive maximum z projection with tip/tilt on GPU (CLIJx, experimental)",                        net.haesleinhuepf.clijx.plugins.Show3DWithTipTilt
Plugins>Segmentation,                                  "3D Image segmentation on GPU (CLIJx, Experimental)",                          net.haesleinhuepf.clijx.gui.ImageSegmentation3D
Plugins>Segmentation,                                  "Interactive thresholding on GPU(CLIJx, experimental)",                        net.haesleinhuepf.clijx.gui.InteractiveThresholding
Plugins>Segmentation,                                  "Interactive wand tool on GPU(CLIJx, experimental)",                           net.haesleinhuepf.clijx.gui.InteractiveWand
Plugins>Acquisition,                                   "Continuous Webcam Acquisition (CLIJx, experimental)",                         net.haesleinhuepf.clijx.gui.ContinuousWebcamAcquisition
Window,                                                "Always on top",                                                        net.haesleinhuepf.clijx.gui.WindowAlwaysOnTop

Plugins>ImageJ on GPU (CLIJx),                          "CLIJx Version 0.30.1.22",                            null
