Plugins>ImageJ on GPU (CLIJx)>Binary,               "Skeletonize on GPU (experimental)",                     net.haesleinhuepf.clijx.plugins.Skeletonize
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Parametric Watershed (experimental)",             net.haesleinhuepf.clijx.plugins.ParametricWatershed
Plugins>ImageJ on GPU (CLIJx)>Binary,               "Fill Holes slice by slice on GPU",                      net.haesleinhuepf.clijx.plugins.BinaryFillHolesSliceBySlice

Plugins>ImageJ on GPU (CLIJx)>Filter,               "Local extrema in a box on GPU (experimental)",                          net.haesleinhuepf.clijx.plugins.LocalExtremaBox
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Find maxima on GPU (experimental)",                          net.haesleinhuepf.clijx.plugins.FindMaxima
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Find maxima with preview on GPU (experimental)",                          net.haesleinhuepf.clijx.gui.FindMaximaPreview
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Seeded watershed on GPU (experimental)",                          net.haesleinhuepf.clijx.plugins.SeededWatershed

Plugins>ImageJ on GPU (CLIJx)>Filter,               "Subtract background in 2D image on GPU (experimental)",                 net.haesleinhuepf.clijx.plugins.SubtractBackground2D
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Subtract background in 3D image on GPU (experimental)",                 net.haesleinhuepf.clijx.plugins.SubtractBackground3D
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Non-local mean on GPU (experimental)",                                  net.haesleinhuepf.clijx.plugins.NonLocalMeans
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Bilateral filter on GPU (experimental)",                                  net.haesleinhuepf.clijx.plugins.Bilateral
Plugins>ImageJ on GPU (CLIJx)>Filter,               "Grey level attribute filtering on GPU (experimental)",                                  net.haesleinhuepf.clijx.plugins.GreyLevelAtttributeFiltering

Plugins>ImageJ on GPU (CLIJx)>Filter,        "Subtract Gaussian Background (experimental)",                                        net.haesleinhuepf.clijx.plugins.SubtractGaussianBackground
Plugins>ImageJ on GPU (CLIJx)>Filter,        "Divide by Gaussian Background (experimental)",                                        net.haesleinhuepf.clijx.plugins.DivideByGaussianBackground
Plugins>ImageJ on GPU (CLIJx)>Filter,        "Intensity correction by mean fixation (experimental)",                                        net.haesleinhuepf.clijx.plugins.IntensityCorrection
Plugins>ImageJ on GPU (CLIJx)>Filter,        "Intensity correction by mean fixation of pixels above Otsu threshold (experimental)",                                        net.haesleinhuepf.clijx.plugins.IntensityCorrectionAboveThresholdOtsu

Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Merge touching labels on GPU (experimental)",                                  net.haesleinhuepf.clijx.plugins.MergeTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Detect and label maxima (experimental)",  net.haesleinhuepf.clijx.plugins.DetectAndLabelMaxima
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Exclude labels outside size range (experimental)",             net.haesleinhuepf.clijx.plugins.ExcludeLabelsOutsideSizeRange
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Extend labels with maximum radius (experimental)",             net.haesleinhuepf.clijx.plugins.ExtendLabelsWithMaximumRadius
Plugins>ImageJ on GPU (CLIJx)>Labeling,             "Find and label maxima (experimental)",                       net.haesleinhuepf.clijx.plugins.FindAndLabelMaxima



Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Interactive Particle Image Velocimetry  (experimental)",                   net.haesleinhuepf.clijx.piv.InteractiveParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "-",                   null
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Particle Image Velocimetry (PIV) on GPU (experimental)",                   net.haesleinhuepf.clijx.piv.ParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Particle image velocimetry 2D+t on GPU (experimental)",                    net.haesleinhuepf.clijx.piv.ParticleImageVelocimetryTimelapse
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Fast Particle Image Velocimetry (PIV) on GPU (experimental)",                   net.haesleinhuepf.clijx.piv.FastParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Visualise vector field on timelapse (experimental)",                   net.haesleinhuepf.clijx.piv.visualisation.VisualiseVectorFieldOnTimelapsePlugin
Plugins>ImageJ on GPU (CLIJx)>Measure>PIV,          "Visualise vector field (experimental)",                   net.haesleinhuepf.clijx.piv.visualisation.VisualiseVectorFieldPlugin

Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of average distances between label centroids (experimental)",                       net.haesleinhuepf.clijx.plugins.AverageNeighborDistanceMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Mesh of distances between centroids of touching labels(experimental)",                       net.haesleinhuepf.clijx.plugins.DrawDistanceMeshBetweenTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Mesh touching neighbors in label map (experimental)",                       net.haesleinhuepf.clijx.plugins.DrawMeshBetweenTouchingLabels
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of touching neighbor count of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.TouchingNeighborCountMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of mean intensities of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.LabelMeanIntensityMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of standard deviation of intensities of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.LabelStandardDeviationIntensityMap
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Map of pixel count of labels (experimental)",                       net.haesleinhuepf.clijx.plugins.LabelPixelCountMap

Plugins>ImageJ on GPU (CLIJx)>Measure,             "Grey value co-occurrence count matrix in box-neighborhood (experimental)",                       net.haesleinhuepf.clijx.plugins.GenerateIntegerGreyValueCooccurrenceCountMatrixHalfBox
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Grey value co-occurrence count matrix in diamond-neighborhood (experimental)",                       net.haesleinhuepf.clijx.plugins.GenerateIntegerGreyValueCooccurrenceCountMatrixHalfDiamond
Plugins>ImageJ on GPU (CLIJx)>Measure,             "Grey value co-occurrence probability matrix (experimental)",                       net.haesleinhuepf.clijx.plugins.GenerateGreyValueCooccurrenceMatrixBox

Plugins>ImageJ on GPU (CLIJx)>Threshold,        "Threshold after Difference of Gaussian (experimental)",                                        net.haesleinhuepf.clijx.plugins.ThresholdDoG


Plugins>ImageJ on GPU (CLIJx)>Transform>Register,       "Translation registration on GPU (experimental)",                       net.haesleinhuepf.clijx.registration.TranslationRegistration
Plugins>ImageJ on GPU (CLIJx)>Transform>Register,       "Translation registration of a 2D timelapse on GPU (experimental)",     net.haesleinhuepf.clijx.registration.TranslationTimelapseRegistration
Plugins>ImageJ on GPU (CLIJx)>Transform,                "Lightfield tiles to stack on GPU (experimental)",                      net.haesleinhuepf.clijx.plugins.LFRecon
Plugins>ImageJ on GPU (CLIJx)>Transform,                "Stack to tiles on GPU (experimental)",                                 net.haesleinhuepf.clijx.plugins.StackToTiles

Plugins>ImageJ on GPU (CLIJx)>Transform,          "Cylinder transform on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.CylinderTransform
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Make isotropic on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.MakeIsotropic
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Rigid transform on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.RigidTransform
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Sphere transform on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.SphereTransform
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Drift correction yb Center of Mass Fixation on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.DriftCorrectionByCenterOfMassFixation
Plugins>ImageJ on GPU (CLIJx)>Transform,          "Drift correction yb Centroid Fixation on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.DriftCorrectionByCentroidFixation

Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 2 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf2
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 3 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf3
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 4 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf4
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 5 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf5
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 6 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf6
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 7 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf7
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 8 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf8
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 9 stacks on GPU (experimental)",                   net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf9
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 10 stacks on GPU (experimental)",                  net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf10
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 11 stacks on GPU (experimental)",                  net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf11
Plugins>ImageJ on GPU (CLIJx)>Transform>Fusion,         "Tenengrad fusion of 12 stacks on GPU (experimental)",                  net.haesleinhuepf.clijx.plugins.tenengrad.TenengradFusionOf12

Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 2 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto2
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 3 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto3
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 4 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto4
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 5 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto5
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 6 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto6
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 7 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto7
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 8 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto8
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 9 stacks on GPU (experimental)",            net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto9
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 10 stacks on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto10
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 11 stacks on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto11
Plugins>ImageJ on GPU (CLIJx)>Transform>Split,          "Split an image stack into 12 stacks on GPU (experimental)",           net.haesleinhuepf.clijx.plugins.splitstack.SplitStackInto12

Plugins>ImageJ on GPU (CLIJx)>Projections,             "Mean Z projection of pixels with intensity above threshold (experimental)",                       net.haesleinhuepf.clijx.plugins.MeanZProjectionAboveThreshold

Plugins>ImageJ on GPU (CLIJx)>Image calculation,        "Extrema on GPU (experimental)",                                        net.haesleinhuepf.clijx.plugins.Extrema
Plugins>ImageJ on GPU (CLIJx)>Image calculation,        "Presign on GPU (experimental)",                                        net.haesleinhuepf.clijx.plugins.Presign

Plugins>ImageJ on GPU (CLIJx),                          "Panel (experimental)",                                                       net.haesleinhuepf.clijx.gui.panel.CLIJxPanel
Plugins>ImageJ on GPU (CLIJx),                          "GPU Memory Display (experimental)",                                          net.haesleinhuepf.clijx.gui.MemoryDisplay
Plugins>ImageJ on GPU (CLIJx),                          "Change default CL device (experimental)",                                          net.haesleinhuepf.clijx.gui.ChangeDefaultCLDevice

Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky denoise (experimental)",                                              net.haesleinhuepf.clijx.gui.stickyfilters.implementations.Denoise
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky heavy blur (experimental)",                                           net.haesleinhuepf.clijx.gui.stickyfilters.implementations.HeavyBlur
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky medium blur (experimental)",                                          net.haesleinhuepf.clijx.gui.stickyfilters.implementations.MediumBlur
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky soft blur (experimental)",                                            net.haesleinhuepf.clijx.gui.stickyfilters.implementations.SoftBlur
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky subtract background (experimental)",                                  net.haesleinhuepf.clijx.gui.stickyfilters.implementations.BackgroundSubtraction
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky threshold Huang (experimental)",                                      net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ThresholdHuang
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky threshold Otsu (experimental)",                                       net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ThresholdOtsu
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky threshold Renyi Entropy (experimental)",                              net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ThresholdRenyiEntropy
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky binary dilation (experimental)",                                      net.haesleinhuepf.clijx.gui.stickyfilters.implementations.BinaryDilate
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky binary erosion (experimental)",                                       net.haesleinhuepf.clijx.gui.stickyfilters.implementations.BinaryErode
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky connected components labeling (experimental)",                        net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ConnectedCompontentsLabelling
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky exclude label edges (experimental)",                                  net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ExcludeLabelEdges
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky extend labels until they touch (experimental)",                       net.haesleinhuepf.clijx.gui.stickyfilters.implementations.ExtendVoronoiLabelling
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "-",                                                                          null
Plugins>ImageJ on GPU (CLIJx)>Sticky operations,        "Sticky number of touching labels (experimental)",                            net.haesleinhuepf.clijx.gui.stickyfilters.implementations.NumberOfTouchingNeighbors

Plugins>ImageJ on GPU (CLIJx)>Timelapse operations,     "Maximum-Z-Projection frame by frame on multiple GPUs (experimental)",                     net.haesleinhuepf.clijx.framor.implementations.MaximumZProjectionFrameProcessor
Plugins>ImageJ on GPU (CLIJx)>Timelapse operations,     "Gaussian blur frame by frame on multiple GPUs (experimental)",                     net.haesleinhuepf.clijx.framor.implementations.GaussianBlurFrameProcessor
Plugins>ImageJ on GPU (CLIJx)>Timelapse operations,     "Top-Hat background subtraction frame by frame on multiple GPUs (experimental)",    net.haesleinhuepf.clijx.framor.implementations.TopHatFrameProcessor



Analyze,                                               "3D Objects Counter on GPU (CLIJx, Experimental)",                             net.haesleinhuepf.clijx.gui.ParticleAnalyser
Plugins>Registration,                                  "3D Image registration on GPU (CLIJx, Experimental)",                          net.haesleinhuepf.clijx.gui.ImageRegistration3D
Image>Stacks,                                          "Interactive depth color projection on GPU (CLIJx, Experimental)",                       net.haesleinhuepf.clijx.gui.InteractiveMaximumZProjection
Image>Stacks,                                          "Interactive Z projection on GPU (CLIJx, Experimental)",                       net.haesleinhuepf.clijx.gui.InteractiveSubstackMaximumZProjection
Image>Stacks,                                          "Interactive maximum z projection with tip/tilt on GPU (CLIJx, experimental)",                        net.haesleinhuepf.clijx.plugins.Show3DWithTipTilt
Plugins>Segmentation,                                  "3D Image segmentation on GPU (CLIJx, Experimental)",                          net.haesleinhuepf.clijx.gui.ImageSegmentation3D
Plugins>Segmentation,                                  "Interactive thresholding on GPU(CLIJx, experimental)",                        net.haesleinhuepf.clijx.gui.InteractiveThresholding
Plugins>Segmentation,                                  "Interactive wand tool on GPU(CLIJx, experimental)",                           net.haesleinhuepf.clijx.gui.InteractiveWand
Plugins>Acquisition,                                   "Continuous Webcam Acquisition (CLIJx, experimental)",                         net.haesleinhuepf.clijx.gui.ContinuousWebcamAcquisition
Window,                                                "Always on top",                                                        net.haesleinhuepf.clijx.gui.WindowAlwaysOnTop

Plugins>ImageJ on GPU (CLIJx),                          "CLIJx Version 0.29.4.10",                            null
